body{
  background-color: #adbdd6;
}
h3{
  color: blue;
  font-family: fantasy;
  font-weight: bold;
}
h2{
  color: blue;
  font-weight: bold;
}
button:hover {
  color: red;
}
.rubyRails{
  display: none;
}
.cssReact{
  display: none;
}
.javaAndroid{
  display: none;
}
.reccomendation{
  padding-top: 70px;
  display: none;
  text-align: center;
  font-size: 40px;
}
.information{
  padding-top: 70px;
  display: none;
  text-align: center;
  font-size: 40px;
}
.well{
  min-height: 300px;
  background-color: #cbdbf4;
  border-style:  double;
  border-color: blue;
  font-family: fantasy;

}
.jumbotron{
  background-color: #cbdbf4;
  border-style: double;
  border-color: blue;
  font-family: fantasy;
}
#form1{
  color: blue;
}
#head{
  padding-left: 20px;
  font-weight: bold;
}
